<mat-toolbar color="primary" class="app-bar">
  <span class="app-bar__brand">Bank of America</span>
  <span class="app-bar__product">Credit Card Portal</span>

  <ng-container *ngIf="user$ | async as user">
    <nav class="app-bar__nav">
      <a routerLink="/card-overview" routerLinkActive="is-active">Card overview</a>
      <a routerLink="/transactions" routerLinkActive="is-active">Transactions</a>
      <a routerLink="/payments" routerLinkActive="is-active">Make a payment</a>
    </nav>
    <span class="app-bar__spacer"></span>
    <span class="app-bar__user">{{ user.fullName }}</span>
    <boa-button variant="ghost" (pressed)="signOut()">Sign out</boa-button>
  </ng-container>
</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>
